<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <title>DESARROLLO ARTIÑO</title>

  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/proyecto1busqueda.css') }}">



  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

  <link href="signin.css" rel="stylesheet">
</head>

<body style="background-color: #ffd5ab!important; font-family: 'Oswald', sans-serif;">




  <nav  class="navbar navbar-expand-md navbar-dark  navbar-custom" style="font-family: 'Heebo', sans-serif;">
      <img src="{{ url_for('static', filename='img/logopaginatrans.png') }}" style="width: 13%; ">

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">

              <a  class="nav-item nav-link active"></a>
              <a  class="nav-item nav-link active"><i class="fa fa-address-book" style="font-size:18px"></i> {{usuariomostrar}}</a>
              <a href="{{ url_for('index') }}" class="nav-item nav-link" ><i class="	fa fa-home" style="font-size:18px;"></i> Inicio</a>
              <a href="{{url_for('opiniones')}}" class="nav-item nav-link"><i class="fa fa-comments" style="font-size:18px"></i> Mis opiniones</a>
          </div>
          <form class="form-inline ml-auto">

            <div class="btn-group" >
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false" style="background-color: #D97A69!important; border: none; color: white!important;">
                Mi cuenta
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" >
                <a class="dropdown-item" href="{{url_for('logout')}}"><i class="fa fa-sign-out" style="font-size:22px"></i> Cerrar sesion</a>
              </div>
            </div>

          </form>
      </div>
  </nav>

  <div class="container mt-5" id="jaja" style="background: #eb9788!important;">
    <center>
      <h1 class="mt-5" style=" font-family: 'Lobster', cursive;  font-size:400%!important; color: #F7F2F1!important;">Mis opiniones!</h1>

      <img src="{{ url_for('static', filename='img/libros.png') }}" style="width: 10%; ">

      <div class="container mt-1">
        <h1>LISTADO DE OPINIONES</h1>
        {% if erroropinion %}
        <p>No se han encontrado opiniones!</p>

        {% elif opinion %}
          {% for fila, filanom in filasopinionespersonales|zip(filasnombreslibros) %}
          <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="float-left" ><strong>Usuario: {{usuariomostrar}}</strong></a>
                                {% if fila[3] == 1 %}
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <a class="float-right">Calificación: </a>

                                {% elif fila[3] == 2 %}
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <a class="float-right">Calificación: </a>

                                {% elif fila[3] == 3 %}
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <a class="float-right">Calificación: </a>

                                {% elif fila[3] == 4 %}
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <a class="float-right">Calificación: </a>

                                {% elif fila[3] == 5 %}
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                <a class="float-right">Calificación: </a>
                                {% endif %}

                           </p>
                            <p>
                                <a  ><strong>ISBN Libro: {{fila[1]}} Titulo del libro: {{filanom[0]}}</strong></a>
                                <a ><strong>Titulo del libro: {{filanom[1]}}</strong></a>
                                <a ><strong>Año de publicacion: {{filanom[2]}}</strong></a>
                            </p>
                            <p class="flot-left">Comentario:</p>
                            <p class="flot-left">{{fila[2]}}</p>
                            <p>
                                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                           </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <br>
          {% endfor %}
        {% endif %}
      </div>

      <p style=" font-family: 'Lobster', cursive;">Be a Bookaholic</p>

    </center>

  </div>





  <script src="{{url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  {% if errorbusqueda %}
  <script type="text/javascript" >
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: ' {{textoerror}}',
            footer: '<span style="color: crimson!important"> Ingresa un libro que buscar! </span>',
            width: '40%'
        });
  </script>
  {% elif busqueda == True %}
  <script type="text/javascript" >
        Swal.fire({
            icon: 'success',
            title: 'WUJUUU!!',
            text: ' {{textoerror}}',
            footer: '<span style="color: green!important"> Da clic en el libro buscado para obtener info! </span>',
            width: '40%'
        });
  </script>
  {% endif %}





  <!--Funciòn toogle-->
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });

    //función wrapper
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
