<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <title>DESARROLLO ARTIÑO</title>

  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/proyecto1busqueda.css') }}">



  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

  <link href="signin.css" rel="stylesheet">
</head>

<body style="background-color: #ffd5ab!important;">




  <nav  class="navbar navbar-expand-md navbar-dark  navbar-custom" style="font-family: 'Heebo', sans-serif;">
      <img src="{{ url_for('static', filename='img/logopaginatrans.png') }}" style="width: 13%; ">

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">

              <a  class="nav-item nav-link active"></a>
              <a  class="nav-item nav-link active"><i class="fa fa-address-book" style="font-size:18px"></i> {{usuariomostrar}}</a>
              <a href="#" class="nav-item nav-link" ><i class="	fa fa-home" style="font-size:18px;"></i> Home</a>
              <a href="{{url_for('logout')}}" class="nav-item nav-link"><i class="fa fa-comments" style="font-size:18px"></i> Mis opiniones</a>
          </div>
          <form class="form-inline ml-auto">

            <div class="btn-group" >
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false" style="background-color: #D97A69!important; border: none; color: white!important;">
                Mi cuenta
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" >
                <a class="dropdown-item" href="{{url_for('logout')}}"><i class="fa fa-sign-out" style="font-size:22px"></i> Cerrar sesion</a>
                <a class="dropdown-item" href="#"><i class="fa fa-key" style="font-size:22px"></i> Cambiar contraseña</a>
              </div>
            </div>

          </form>
      </div>
  </nav>

  <div class="container mt-5" id="jaja" style="background: #eb9788!important;">
    <center>
      <h1 class="mt-5" style=" font-family: 'Lobster', cursive;  font-size:400%!important;">Busca un libro!</h1>

      <img src="{{ url_for('static', filename='img/libros.png') }}" style="width: 10%; ">
      <div class="container mt-1">

        <p style="font-family: 'Oswald', sans-serif; font-size:150%!important;">Bookaholics es una página web que te permite buscar entre más del
        5000 libros! Puedes buscar por:</p>
        <br>
        <p style="font-family: 'Oswald', sans-serif; font-size:125%!important;"><strong>ISBN:</strong> Es el código que identifica a un libro,
        por ejemplo "0380795272".</p>

        <p style="font-family: 'Oswald', sans-serif; font-size:125%!important;"><strong>Título del libro:</strong> Es el nombre del libro, por ejemplo "The Dark Is Rising".</p>

        <p style="font-family: 'Oswald', sans-serif; font-size:125%!important;"><strong>Autor del libro:</strong> Es el nombre de la persona que escribió el libro,
          por ejemplo "Terry Brooks".</p>

        <p style="font-family: 'Oswald', sans-serif; font-size:125%!important;"><strong>Año de publicación:</strong> Es el año en que el libro fue publicado,
          por ejemplo "1980".</p>

      </div>

      <form action="{{ url_for('buscar') }}" method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" name="busqueda">
          <div class="input-group-btn" >
            <button class="btn " href="resultadobusqueda" type="submit" style="background-color: #C7513C!important;"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>

      <p style=" font-family: 'Lobster', cursive;">Be a Bookaholic</p>


    </center>

  </div>

  {% if busqueda %}
  <div class="container mt-4" id="resultadobusqueda" style="background: #D79858!important;">
    <center>
      <h1 style=" font-family: 'Lobster', cursive;  font-size:400%!important;">Resultados de búsqueda!</h1>
      <p style="font-family: 'Oswald', sans-serif; font-size:125%!important;">Busqueda realizada: {{busquedarecibida}}</p>

      <table class="table table-hover" style="font-family: 'Oswald', sans-serif; font-size:125%!important;">
        <thead>
          <tr class="table-active">
            <th scope="col">Isbn</th>
            <th scope="col">Libro</th>
            <th scope="col">Autor</th>
            <th scope="col">Año</th>
          </tr>
        </thead>


        <tbody>
          {% for fila in filas %}
              <tr class="table-warning">
                <td>
                  <form action="{{ url_for('mostrarlibro') }}" method="post">
                      <button type="submit" name="isbn" value="{{fila[0]}}" >{{fila[0]}}</button>
                  </form>
                </td>
                <td>{{fila[1]}}</td>
                <td>{{fila[2]}}</td>
                <td>{{fila[3]}}</td>
              </tr>

          {% endfor %}
        </tbody>
      </table>
      <br>
    </center>
  </div>
  {% endif %}



  <script src="{{url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>






  <!--Funciòn toogle-->
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });

    //función wrapper
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
